<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>$title | $project_name</title>
#if ($rdf_link)
    <link rel="alternate" type="application/rdf+xml" href="$rdf_link" title="RDF" />
#end
	<link rel="stylesheet" type="text/css" href="${server_base}static/css/journal-bootstrap.css" />
    <!-- <link rel="stylesheet" type="text/css" href="${server_base}static/style.css" /> -->
    <script type="text/javascript" src="${server_base}static/script.js"></script>
  </head>
  <body onLoad="init();">
  	<script src="http://bootswatch.com/assets/js/bsa.js"></script>
  	<div class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
  			<div class="navbar-header" id="header">
  				<a class="navbar-brand" id='homelink' href="$project_link">$project_name</a>
  				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
  				            <span class="icon-bar"></span>
  				            <span class="icon-bar"></span>
  				            <span class="icon-bar"></span>
  				</button>
  			</div>
  			<div class="navbar-collapse collapse" id="navbar-main">
  				<ul class="nav navbar-nav navbar-right">
  					<li><a href="http://doc.metalex.eu/id/BWBR0017869/2009-10-23">Browse</a></li>
  					<li><a href="http://doc.metalex.eu/search">Search</a></li>
					<li><a href="http://doc.metalex.eu/query">Query</a></li>
					<li><a href="http://doc.metalex.eu/#data">Data</a></li>
  				</ul>
  			</div>
  		</div>
  	</div>
	
	<div class="container" style="padding-top: 6em;">
	#if ($back_uri)
		<p><a href="$back_uri">Back to $back_label</a></p>
	#end